
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        h1 {
            color: #333;
        }

        label {
            margin-bottom: 5px;
            color: #555;
        }

        select, input {
            margin-bottom: 10px;
            padding: 8px;
            font-size: 16px;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        button:hover {
            background-color: #45a049;
        }

        #result {
            color: #333;
            font-size: 18px;
            font-weight: bold;
        }
        h1 {
            animation: scaleUp 1s ease-in-out, colorChange 3s infinite alternate; /* Apply the scaleUp and colorChange animations */
        }
        button {
            animation: scaleUp 1s ease-in-out, colorChange2 3s infinite alternate; /* Apply the scaleUp and colorChange animations */
        }

        @keyframes colorChange {
             100%{
                color: #333;
            }
            80%{
                color: #45a049;
            }
            60%{
                color: chartreuse;
            }
            30%{
                color: red;
            } 
            10%{
                color: orange;
            }
        }
        
        @keyframes colorChange2 {
             100%{
               background-color: #333;
            }
            80%{
                background-color: #45a049;
            }
            60%{
                background-color: chartreuse;
            }
            30%{
                background-color: red;
            } 
            10%{
                background-color: orange;
            }
        }
#conversionType{
    width: 200px;
    font-size: 19px;
    padding: 13px;
    
}
#result{
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
}





   